.list-group-item.d-flex.justify-content-between.align-items-center{id: dom_id(request), "data-manager-dashboard-target": "request"}
  %div
    %strong= request.user.name
    %div= request.time_off_type.name
    %div
      #{request.start_date.strftime('%b %d, %Y')} to #{request.end_date.strftime('%b %d, %Y')}
    %small.text-muted= request.reason
  %div
    - if show_actions
      .btn-group
        %button.btn.btn-success.btn-sm{type: 'button', "data-action": "manager-dashboard#approve", "data-request-id": request.id} Approve
        %button.btn.btn-danger.btn-sm{type: 'button', "data-action": "manager-dashboard#deny", "data-request-id": request.id} Deny
    %span.badge.bg-secondary= request.status.humanize
