= form_with(model: time_off_request, id: 'new_time_off_request_form', html: { class: 'card p-4', data: { 'time-off-request-target': 'form', action: 'submit->time-off-request#submitForm' } }) do |form|
  %div{style: "color: red", class: "d-none", data: { 'time-off-request-target': 'errorContainer' }}

  .mb-3
    = form.label :time_off_type_id, class: 'form-label'
    = form.collection_select :time_off_type_id, @time_off_types, :id, :name, { prompt: 'Select type' }, { class: 'form-select' }

  .row.mb-3
    .col
      = form.label :start_date, class: 'form-label'
      = form.date_field :start_date, class: 'form-control'
    .col
      = form.label :end_date, class: 'form-label'
      = form.date_field :end_date, class: 'form-control'

  .mb-3
    = form.label :reason, class: 'form-label'
    = form.text_area :reason, class: 'form-control', rows: 3

  .d-flex.gap-2
    = form.submit 'Submit Request', class: 'btn btn-primary w-100', data: { 'time-off-request-target': 'submitButton' }
    %button.btn.btn-secondary.w-100{type: "button", data: {action: "click->time-off-request#hideFormAndShowButton"}}
      Cancel
