!!!
%html
  %head
    %title TimelyRequest
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    %link{href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel: "stylesheet"}

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
          = link_to 'Timely', root_path, class: 'navbar-brand'
          %button.navbar-toggler{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#navbarNav"}
            %span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            %ul.navbar-nav.ms-auto
              - if user_signed_in?
                %li.nav-item
                  %span.navbar-text.me-3
                    Welcome, #{current_user.name} (#{current_user.role})
                %li.nav-item
                  = button_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-light'
              - else
                %li.nav-item
                  = link_to "Log In", new_user_session_path, class: 'nav-link'
                %li.nav-item
                  = link_to "Sign Up", new_user_registration_path, class: 'nav-link'
    %main.container.mt-4
      - if notice
        .alert.alert-info.alert-dismissible.fade.show
          = notice
          %button.btn-close{"data-bs-dismiss": "alert"}
      - if alert
        .alert.alert-warning.alert-dismissible.fade.show
          = alert
          %button.btn-close{"data-bs-dismiss": "alert"}

      = yield

    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"}